<h1><%= product.name %></h1>
<p>Price: $<%= product.price %></p>
<p><%= product.description %></p>
<a href="/products/<%= product._id %>/edit">Edit</a>
<form action="/products/<%= product._id %>/delete" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="/products">Back to Products</a>
